.InputNumber {
  position: relative;
  display: flex;
  align-items: center;
}

.Sign {
  position: relative;
  font-size: 50px;
  color: white;
  font-weight: 300;
}

.Input {
  position: relative;
  background-color: transparent;
  height: 100px;
  caret-color: white;
  border: none;
  outline: none;
  text-align: right;
  font-size: 50px;
  color: white;
  font-weight: 300;
}
