.Exchange {
  position: relative;
  height: 100%;
}

.HeaderWrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.SliderWrapper {
  position: relative;
  width: 60%;
  height: 100%;
}

.InputWrapper {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.InputSign {
  position: relative;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.AccountSection {
  position: relative;
  height: 50%;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Dark {
  background: rgb(70,70,252);
}

.Light {
  background: rgb(70,112,252);
}

.ExchangeControlDivider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.LoadingWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
