.Exchange {
  position: relative;
  height: 100%;
}

.HeaderWrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.SliderWrapper {
  position: relative;
  width: 300px;
  height: 100%;
}

.InputWrapper {
  position: relative;
}

.InputSign {
  position: relative;
}

.AccountSection {
  position: relative;
  height: 50%;
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Dark {
  background: rgb(70,70,252);
}

.Light {
  background: rgb(70,112,252);
}

.ExchangeControlDivider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
