.HistoryList {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.HistoryListItem {
  position: relative;
  border-bottom: 1px solid rgb(74, 71, 84);;
}
.HistoryListWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HistoryLeftPart {
  position: relative;
}
.HistoryRightPart {
  position: relative;
}

.HistoryCurrencyName {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: rgb(74, 71, 84);
}

.HistoryTime {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #474854f0;
}

.BigCurrency {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  color: rgb(9, 9, 9);
}

.SmallCurrency {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #11398ede;
}
