@import '~normalize.css';

:global {
  * {
    box-sizing: border-box;
  };

  html,body {
    position: relative;
    height: 100%;
  }

  body {
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  #root {
    position: relative;
    height: 100%;
  }

  h1,h2,h3,h4,h5,h6 {
    color: white;
  }
  p {
    color: white;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}


.App {
  position: relative;
  height: 100%;
}
